@layer base {
  body {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }

  button, input, select, textarea {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }
}

